@import './variables.module.scss';

.homePageContainer {
  .homePageTitleContainer {
      background-image: url('/cakes.jpg');
      background-position: 50% 0%;
      height: 700px;
      @include centerBox();

      .homePageTitleBox {
          @include centerBox();
          flex-direction: column;
          width: 750px;
          background-color: $main3Color;
          padding: 65px 70px 70px;
          position: relative;

          &::after {
              content: '';
              position: absolute;
              width: calc(100% - 40px);
              height: calc(100% - 40px);
              border: dashed 1px $mainColor;
              top: 20px;
              left: 20px;
              z-index: 0;
          }

          h1 {
              margin-top: 0;
              font-size: 3rem;
              text-align: center;
              font-weight: bold;
              margin-bottom: 20px;
              font-style: italic;
          }

          button {
              padding: 15px 25px;
              font-size: 1rem;
              font-weight: 500;
              color: $main3Color;
              border: none;
              outline: none;
              background-color: $mainColor;
              cursor: pointer;
              z-index: 1;
          }
      }
  }

  .homeProductContainer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      min-width: 960px;
      max-width: 1250px;
      margin: auto;
      padding: 50px 40px 100px 40px;
  }

  .sweetMomentsContainer {
      padding: 100px 25px;
      @include centerBox();

      .sweetMomentsLeft {
          max-width: 390px;
          min-width: 320px;
          padding-left: 15px;

          h3 {
              color: $mainColor;
              letter-spacing: 4px;
              font-size: 1.2rem;
              font-weight: 600;
          }

          h1 {
              margin-top: 0;
              font-size: 3.2rem;
              font-style: italic;
          }

          h5 {
              font-weight: 100;
              font-size: 1.2rem;
              position: relative;
              @include centerBox('align');
              svg {
                  font-size: 2rem;
                  margin-right: 10px;
              }

              &::after {
                  content: '';
                  background: url('/triangle-cake.jpg') no-repeat;
                  position: absolute;
                  height: 139px;
                  width: 114px;
                  left: 0;
                  top: -34px;
              }
          }
      }

      .sweetMomentsRight {
          @include centerBox('justify');
          flex-wrap: wrap;
          max-width: 780px;
          min-width: 640px;
          flex-grow: 1;

          .sweetMomentsRight-item {
              width: 33.33%;
              padding: 0 15px;

              &:nth-child(2), &:nth-child(5) {
                  margin-top: 30px;
              }

              &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(6) {
                  margin-bottom: 30px;
              }

              img {
                  width: 100%;
              }
          }

      }
  }

  .cakeTypeSlider {
      width: 100%;
      padding: 0 40px 40px 40px;
      padding-bottom: 40px;
      
      &::after {
          content: '';
          max-width: 1170px;
          min-width: 720px;
          height: 1px;
          background-color: $mainColor;
          display: block;
          margin: auto;
      }

      .slick-slider {
          max-width: 1170px;
          min-width: 720px;
          padding: 0 15px;
          margin: auto;
      }

      .slick-next, .slick-prev {
          @include centerBox();
          top: 40%;
          width: 40px;
          height: 40px;
          color: $main2Color;
          svg { font-size: 1.5rem; }            
          &::before {
              content: '';
          }
      }

      .slick-next { right: -40px; }
      .slick-prev { left: -40px; }

      .cakeTypeItem {
          padding: 0 15px;
          margin-bottom: 40px;
          position: relative;

          .cakeTypeItemContainer {
              width: 194px;
              height: 194px;
              max-width: 194px;
              min-width: 194px;
              border-radius: 50%;
              @include centerBox();
              flex-direction: column;

              img {
                  width: 80px;
                  height: 80px;
              }
  
              h5 {
                  margin-top: 20px;
                  width: 100%;
                  text-align: center;
                  font-size: 1.1rem;
                  text-transform: uppercase;
              }

              &::after {
                  content: '';
                  position: absolute;
                  top: 113%;
                  width: 30px;
                  height: 30px;
                  transform: rotate(45deg);
                  border: 2px solid $mainColor;
                  display: none;
              }
              &:hover {
                  background-color: $mainColor;
                  h5 { color: $main3Color; }

                  &::after { display: block;}
              }
          }
      }
  }

}

@media screen and (max-width: 1024px) {
  .homePageContainer {
      .homePageTitleContainer {
          .homePageTitleBox { width: 580px; }
      }
      .sweetMomentsContainer {
          flex-direction: column;
          .sweetMomentsLeft { max-width: 720px; }
      }
  }
}

@media screen and (max-width: 992px) {
  .homePageContainer {
      .homeProductContainer {
          max-width: 720px;
          min-width: 540px;
      }
      .cakeTypeSlider {
          .slick-slider, &::after {
              max-width: 720px;
              min-width: 540px;
          }
      }
  }
}

@media screen and (max-width: 768px) {
  .homePageContainer {
      .homePageTitleContainer {
          .homePageTitleBox { width: 510px; }
      }
      .sweetMomentsContainer {
          .sweetMomentsLeft {
              max-width: 510px;
          }
          .sweetMomentsRight {
              max-width: 510px;
              min-width: unset;
              .sweetMomentsRightItem {
                  &:nth-child(2), &:nth-child(5) {
                      margin-top: 0;
                  }
              }
          }
      }
      .cakeTypeSlider {
          .slick-slider, &::after {
              max-width: 510px;
              min-width: 390px;
          }
      }
  }
}

@media screen and (max-width: 576px) {
  .homePageContainer {
      .homePageTitleContainer {
          .homePageTitleBox { width: 450px; }
      }

      .homeProductContainer {
          width: 100%;
          min-width: unset;
          padding: 0;
      }

      .sweetMomentsContainer {
          padding: 100px 0;
          .sweetMomentsLeft {
              max-width: unset;
              min-width: unset;
              padding-right: 15px;
              width: 100%;
          }
          .sweetMomentsRight {
              width: 100%;
              max-width: unset;
              min-width: unset;
              .sweetMomentsRight-item {
                  width: 50%;
                  &:nth-child(2), &:nth-child(5) {
                      margin-top: 0;
                  }
              }
          }
      }

      .cakeTypeSlider {
          padding: 0 0 40px 0;

          .slick-slider, &::after {
              width: 90%;
              min-width: unset;
              max-width: unset;
              padding: 0;
          }

          .cakeTypeItem {
              padding: 0;
              display: flex !important;
              justify-content: center;
          }
      }
  }
}

@media screen and (max-width: 480px) {
  .homePageContainer {
      .homePageTitleContainer {
          .homePageTitleBox {
              padding: 30px;
              width: 90%;
              h1 { font-size: 1.9rem;}
          }
      }

      .sweetMomentsContainer {
          padding: 100px 0;
          .sweetMomentsLeft {
              h1 { font-size: 2rem; }
          }
      }
  }
}
