//Color
$mainColor: #f08632;
$main2Color:#282828;
$main3Color: #fff;
$main4Color: #FDF3EA;
$darken10Main3Color: darken($main3Color, $amount: 10);
$darken20Main3Color: darken($main3Color, $amount: 20);
$darken30Main3Color: darken($main3Color, $amount: 30);

//Animation
@keyframes skeleton-loading {
    0% { background-color: rgba($main2Color, $alpha: 0.3);}
    100% { background-color: rgba($main2Color, $alpha: 0.1);}
}

//Responsive
@media screen and (max-width: 576px) {
    .sliderContainerMoblie {
        display: grid !important;
        grid-auto-flow: column !important;
        grid-auto-columns: 70% !important;
        overflow-x: auto !important;
        scroll-snap-type: x mandatory !important;
        scroll-snap-stop: always !important;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;

        &::-webkit-scrollbar { display: none; }
    }
}

// mixin
@mixin container {
    max-width: 1250px;
    min-width: 960px;
    margin: auto;
    padding: 0 40px;
}

@mixin centerBox($type: 'both') {
    display: flex;

    @if $type == 'justify' {
        justify-content: center;
    }

    @if $type == 'align' {
        align-items: center;
    }

    @if $type == 'both' {
        justify-content: center;
        align-items: center;
    }
}